
<ion-navbar *navbar>
  <ion-title>{{speaker.name}}</ion-title>
</ion-navbar>

<ion-content padding class="speaker-detail">

<div text-center>
 
    <img [src]="speaker.profilePic" [alt]="speaker.name"><br>
    <button clear small twitter><ion-icon name="logo-twitter"></ion-icon></button>
    <button clear small github><ion-icon name="logo-github"></ion-icon></button>
    <button clear small instagram><ion-icon name="logo-instagram"></ion-icon></button>

</div>

  <p>{{speaker.about}}</p>

      <ion-list>
        <ion-list-header>
           Mis Deportes preferidos
        </ion-list-header>
        <button ion-item *ngFor="#profile of speaker.profiles" (click)="goToProfileDetail(profile,speaker)">
         <ion-icon [name]="profile.sportobject.images.mobileicon" item-left></ion-icon>
        <div text-center>
          <h3>
          {{profile.sport}}
          - {{profile.level}}
          - {{profile.ranking}}
          </h3>
        </div>
        </button>
      </ion-list>

 <ion-list>
    <ion-list-header>
       Mis Actividades
    </ion-list-header>
  <div *ngIf="speaker.sessions">
    <ion-item *ngFor="#session of speaker.sessions" (click)="goToSessionDetail(session)">
      <h5><a href="#" >{{session.name}}</a></h5>
      <p>{{session.description}}</p>
    </ion-item>
  </div>
 </ion-list>

</ion-content>
