

.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #60646B;
}

$calendarstatus: (
 active: #00FF00,
 inactive: #FF0000,
 blocked: #C0C0C0,
);

@function auxiliary-calendarstatus() {
  @return map-remove($calendarstatus);
}

.calendar {
  @each $status, $value in auxiliary-calendarstatus() {
     td[status=#{$status}] {
	 border-bottom: 3px solid $value;
   	}
  }
}


table.calendar  {
	color:#333333;
	border-color: #999999;

	width: 100%;
}

table.calendar th {
	background-color:#b5cfd2 ;
	padding: 1px;
}
table.calendar td {
	padding: 1px;
}

