
.sportman-list {

  ion-card.sportmancard ion-list button {
    padding: 2px;
  }

  ion-card.sportmancard ion-card-content ion-list button {
    margin: 2px;
	padding:0;
  }

  ion-card.sportmancard ion-card-header,
  ion-card.sportmancard ion-card-content,
  ion-card.sportmancard ion-card-content ion-list ion-item, {
    padding: 0;
  }

}

.actionbar {
	background-color: #D8D8D8;
	border-color: #0000ff;
	padding: 0;
}

