<ion-navbar *navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (change)="updateSportmen()">
      <ion-segment-button value="all">
          Todos
      </ion-segment-button>
      <ion-segment-button value="favorites">
          Favoritos
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
        <button (click)="presentFilter()">
            <ion-icon ios="ios-funnel-outline" md="md-funnel"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="outer-content sportman-list">
  <ion-searchbar primary
                 [(ngModel)]="queryText"
                 (input)="updateSportmen()"
                 placeholder="Search">
  </ion-searchbar>

  <ion-list [hidden]="counter === 0">
  
  <ion-card *ngFor="#sportman of sportmen" class="speaker" [hidden]="sportman.hide">

     <ion-list>
        <button ion-item (click)="goToSportmanDetail(sportman)">            
            <ion-avatar  item-left>
                <img [src]="sportman.profilePic">
            </ion-avatar >
            <h2>{{sportman.name}}</h2>
            <h3>{{sportman.zones[0].city}} , {{sportman.zones[0].country}}</h3>
            <p> Reputación <ion-badge >{{sportman.reputation}}</ion-badge> </p>
        </button>        
     </ion-list>
  

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item *ngFor="#profile of sportman.profiles" (click)="goToProfileDetail(profile,sportman)">
         <ion-icon [name]="profile.sport.images.mobileicon" item-left></ion-icon>
        <div text-center>
          <h3>
          {{profile.sport.name}}
          - {{profile.level}}
          - {{profile.ranking}}
          </h3>
        </div>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-item>
      <button (click)="goToSportmanTwitter(sportman)" clear item-left>
        <ion-icon name="logo-twitter"></ion-icon>
        Tweet
      </button>

      <button  (click)="addFavorite(sportman)" *ngIf="segment === 'all'" clear >
        <ion-icon name="bookmark"></ion-icon>
        Favoritos
      </button>

      <button (click)="openSportmanShare(sportman)" clear item-right>
        <ion-icon name="share"></ion-icon>
        Enviar
      </button>
    </ion-item>

  </ion-card>

</ion-list>

  <ion-list-header [hidden]="counter > 0">
      No Sessions Found
  </ion-list-header>

</ion-content>
