$categories: (
 eventos: map-get($colors, primary),
 ranking: #AC282B,
 torneos: #8E8D93,
 amistosos: #FE4C52,
 grupales: #FD8B2D,
 otro: #FED035,
 otro2: #69BB7B,
 otro3: #3BC7C4,
 otro4: #B16BE3,
 otro5: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}

ion.segment {
  width: 80%;
}

// Related to https://github.com/driftyco/ionic/issues/5055
.ios .hide-border .toolbar-background {
  border-bottom-color: transparent;
}