<ion-navbar *navbar>
    <ion-segment [(ngModel)]="filterType" (change)="updateList()">
        <ion-segment-button value="All">
            Deportes
        </ion-segment-button>
        <ion-segment-button value="Mine">
            Mis Deportes
        </ion-segment-button>
    </ion-segment>
</ion-navbar>

<ion-toolbar>
  <ion-searchbar #search *ngIf="filterType==='All'" [(ngModel)]="searchQuery" (input)="updateList()"></ion-searchbar>
</ion-toolbar>

<ion-content padding>
    <ion-list no-lines>
        <ion-item [hidden]="sport.hide" *ngFor="#sport of sports">
            <ion-icon primary [name]="sport.images.mobileicon" item-left isActive=true></ion-icon>
            <ion-label>
                {{sport.name}}
            </ion-label>
            <ion-toggle  [(ngModel)]="sport.isChecked" [(checked)]="sport.isChecked"  secondary>
            </ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>