<ion-navbar *navbar>
    <ion-title>Deportes</ion-title>
</ion-navbar>

<ion-content padding>

    <ion-segment [(ngModel)]="filterType" (change)="updateList()">
        <ion-segment-button value="All">
        Todos
        </ion-segment-button>
        <ion-segment-button value="Mine">
        Mis Deportes
        </ion-segment-button>
    </ion-segment>

    <ion-searchbar #search *ngIf="filterType==='All'" [(ngModel)]="searchQuery" (input)="updateList()"></ion-searchbar>
    <ion-list>
        <ion-list-header>
            Deportes Disponibles
        </ion-list-header>
        <ion-item [hidden]="sport.hide" *ngFor="#sport of sports">
            <ion-label>{{sport.name}}</ion-label>
            <ion-checkbox dark [(ngModel)]="sport.isChecked"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>